<section class="about__page">
    <h1 class="title">RICK AND MORTY</h1>
    <div class="about__container">
        
            <p class="about__paragraph">
                ANGULAR 11 ricky and mortu
                buenas practicas
            </p>
            <figure class="about__img">
                <img src="assets/img/web_dev.jpg" alt="Web dev" class="about__picture" rel="preload" as="image" width="406" height="306">
            </figure>
        </div>
    

    <p class="about__copy">
        Deveopers <span class="text-white">Freddy Rada</span>
    </p>
</section>
